<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <!-- メッセージ定義へのパス -->
    <add key="FxXMLMSGDefinition" value="ConsoleApplication1.MSGDefinition.xml"/>
    
    <!--FxExceptionMessageCulture-->
      <!-- リソースを設定しているもの (作成したリソースから値を取得する) -->
      <!-- 日本語 -->
      <add key="FxExceptionMessageCulture" value="ja-JP" />
      <!-- 中国語 (簡体字) -->
      <!--<add key="FxExceptionMessageCulture" value="zh-CN" />-->
      <!-- 中国語 (繁体字) -->
      <!--<add key="FxExceptionMessageCulture" value="zh-TW" />-->
      <!-- フランス語 (フランス) -->
      <!--<add key="FxExceptionMessageCulture" value="fr-FR" />-->
      <!-- 英語 (米国) -->
      <!--<add key="FxExceptionMessageCulture" value="en-US" />-->
      <!-- 英語 (英国) -->
      <!--<add key="FxExceptionMessageCulture" value="en-GB" />-->
      
      <!-- リソースを作成していないもの (既定のカルチャのリソースから値を取得する) -->
      <!-- 韓国語 -->
      <!--<add key="FxExceptionMessageCulture" value="ko-KR" />-->
      <!-- ドイツ語 (ドイツ) -->
      <!--<add key="FxExceptionMessageCulture" value="de-DE" />-->
      
      <!-- カルチャ名がでたらめなもの (既定のカルチャのリソースから値を取得する) -->
      <!--<add key="FxExceptionMessageCulture" value="zz-ZZ" />-->
    
    <!--FxBusinessMessageCulture-->
      <!-- リソースを設定しているもの (作成したリソースから値を取得する) -->
      <!-- 日本語 -->
      <add key="FxBusinessMessageCulture" value="ja-JP" />
      <!-- 中国語 (簡体字) -->
      <!--<add key="FxBusinessMessageCulture" value="zh-CN" />-->
      <!-- 中国語 (繁体字) -->
      <!--<add key="FxBusinessMessageCulture" value="zh-TW" />-->
      <!-- フランス語 (フランス) -->
      <!--<add key="FxBusinessMessageCulture" value="fr-FR" />-->
      <!-- 英語 (米国) -->
      <!--<add key="FxBusinessMessageCulture" value="en-US" />-->
      <!-- 英語 (英国) -->
      <!--<add key="FxBusinessMessageCulture" value="en-GB" />-->
      
      <!-- リソースを作成していないもの (既定のカルチャのリソースから値を取得する) -->
      <!-- 韓国語 -->
      <!--<add key="FxBusinessMessageCulture" value="ko-KR" />-->
      <!-- ドイツ語 (ドイツ) -->
      <!--<add key="FxBusinessMessageCulture" value="de-DE" />-->
      
      <!-- カルチャ名がでたらめなもの (既定のカルチャのリソースから値を取得する) -->
      <!--<add key="FxBusinessMessageCulture" value="zz-ZZ" />-->
      
  </appSettings>
</configuration>
