<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SHA256RSA_pfx" value="C:\root\files\resource\X509\SHA256RSA.pfx" />
    <add key="SHA256RSA_cer" value="C:\root\files\resource\X509\SHA256RSA.cer" />
    <add key="SHA256DSA_pfx" value="C:\root\files\resource\X509\SHA256DSA.pfx" />
    <add key="SHA256DSA_cer" value="C:\root\files\resource\X509\SHA256DSA.cer" />
    <add key="SHA256ECDSA_pfx" value="C:\root\files\resource\X509\SHA256ECDSA.pfx" />
    <add key="SHA256ECDSA_cer" value="C:\root\files\resource\X509\SHA256ECDSA.cer" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
