<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SHA256RSA_pfx" value="C:\root\files\resource\X509\SHA256RSA.pfx" />
    <add key="SHA256RSA_cer" value="C:\root\files\resource\X509\SHA256RSA.cer" />
    <add key="SHA256DSA_pfx" value="C:\root\files\resource\X509\SHA256DSA.pfx" />
    <add key="SHA256DSA_cer" value="C:\root\files\resource\X509\SHA256DSA.cer" />
    <add key="SHA256ECDSA_pfx" value="C:\root\files\resource\X509\SHA256ECDSA.pfx" />
    <add key="SHA256ECDSA_cer" value="C:\root\files\resource\X509\SHA256ECDSA.cer" />
  </appSettings>
</configuration>
