<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- WCF TCP/IPサービス用 -->

    <!-- フレームワークの使用するパラメータ - start -->
    <!-- メッセージ定義へのパス -->
    <add key="FxXMLMSGDefinition" value="C:\root\files\resource\XML\MSGDefinition.xml"/>
    <!-- トランザクション制御定義へのパス -->
    <add key="FxXMLTCDefinition" value="C:\root\files\resource\XML\TCDefinition.xml"/>
    <!-- 名前解決定義へのパス -->
    <add key="FxXMLTMInProcessDefinition" value="C:\root\files\resource\XML\TMInProcessDefinition.xml"/>
    <!-- フレームワークの使用するパラメータ - end -->

    <!-- 共通部品の使用するパラメータ - start -->
    <!-- Log4Netのコンフィグファイルへのパス -->
    <add key="FxLog4NetConfFile" value="C:\root\files\resource\Log\SampleLogConfWebService.xml"/>
    <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
    <add key="FxSqlTraceLog" value="on"/>
    <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
    <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
    <add key="FxSqlCacheSwitch" value="off"/>
    <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
    <add key="FxSqlEncoding" value="utf-8"/>
    <!-- Ｄ層のコマンド タイムアウト値を指定（秒） -->
    <add key="FxSqlCommandTimeout" value="30"/>
    <!-- 共通部品の使用するパラメータ - end -->

    <!-- アプリケーションの使用するパラメータ - start -->
    <!-- SQLファイルファイル（フォルダ）へのパス -->
    <add key="SqlTextFilePath" value="C:\root\files\resource\Sql"/>
    <!--認証チケットの秘密鍵-->
    <add key="private-key" value="ikvnjkxwpun7nv4vhq28"/>
    <!-- アプリケーションの使用するパラメータ - end -->
  </appSettings>

  <connectionStrings>
    <!-- SQL Server / SQL Client用 -->
    <add name="ConnectionString_SQL" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Northwind;Integrated Security=True;"/>
  </connectionStrings>
  
  <!-- サービス ライブラリ プロジェクトの展開時に、構成ファイルの内容をホストの app.config ファイルに追加する
  必要があります。System.Configuration は、ライブラリの構成ファイルをサポートしていません。 -->
  <system.serviceModel>
    <services>
      <service name="Touryo.Infrastructure.Business.Transmission.WCFTCPSvcForFx">
        <clear/>
        <endpoint address="net.tcp://localhost:7777/WCFService/WCFTCPSvcForFx/" binding="netTcpBinding" bindingConfiguration="" contract="Touryo.Infrastructure.Framework.Transmission.IWCFTCPSvcForFx"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- メタデータ情報の開示を避けるには、
          展開する前に、下の値を false に設定し、上のメタデータのエンドポイントを削除します -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- デバッグ目的で障害発生時の例外の詳細を受け取るには、
          下の値を true に設定します。例外情報の開示を避けるには、
          展開する前に false に設定します -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>