<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <!-- WinJS 参照 -->
        <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
        <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
        <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

        <!-- WSClientWinStoreJS_sample 参照 -->
        <link href="/css/default.css" rel="stylesheet" />
        <style type="text/css">
            input {
                /* ボタンやテキストボックスの幅を 100% にする */
                width: 100%;
            }
        </style>
        <script src="/js/default.js"></script>
        <script src="/js/CRUDPage_jn.js"></script>
        <script src="/Scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#button1').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService', 
                        ScreenId: 'CRUDPage_jn', 
                        ControlId: $(this)[0].id, 
                        MethodName: 'SelectCount', 
                        ActionType: actionType, 
                        UserName: context, 
                        Info: {}
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                $('#labelMessage').val(resultJson.Info.Str + '件のデータがあります');
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button2').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'SelectAll_DT',
                        ActionType: actionType,
                        UserName: context,
                        Info: {}
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                // 結果を JSON 形式に変換する
                                var DicArray = [];
                                var index = 0;
                                for (index = 0; index < resultJson.Info.DicList.length; index++) {
                                    DicArray.push({
                                        ShipperId: resultJson.Info.DicList[index][0].Value, 
                                        CompanyName: resultJson.Info.DicList[index][1].Value,
                                        Phone: resultJson.Info.DicList[index][2].Value
                                    });
                                }

                                // 結果を WinJS の List 型に変換する
                                var datalist = new WinJS.Binding.List(DicArray);

                                // 結果を画面要素にバインドする
                                var listview = document.querySelector('#ListView1').winControl;
                                listview.itemDataSource = datalist.dataSource;
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button3').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'SelectAll_DS',
                        ActionType: actionType,
                        UserName: context,
                        Info: {}
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                // 結果を JSON 形式に変換する
                                var DicArray = [];
                                var index = 0;
                                for (index = 0; index < resultJson.Info.DicList.length; index++) {
                                    DicArray.push({
                                        ShipperId: resultJson.Info.DicList[index][0].Value,
                                        CompanyName: resultJson.Info.DicList[index][1].Value,
                                        Phone: resultJson.Info.DicList[index][2].Value
                                    });
                                }

                                // 結果を WinJS の List 型に変換する
                                var datalist = new WinJS.Binding.List(DicArray);

                                // 結果を画面要素にバインドする
                                var listview = document.querySelector('#ListView1').winControl;
                                listview.itemDataSource = datalist.dataSource;
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button4').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'SelectAll_DR',
                        ActionType: actionType,
                        UserName: context,
                        Info: {}
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                // 結果を JSON 形式に変換する
                                var DicArray = [];
                                var index = 0;
                                for (index = 0; index < resultJson.Info.DicList.length; index++) {
                                    DicArray.push({
                                        ShipperId: resultJson.Info.DicList[index][0].Value,
                                        CompanyName: resultJson.Info.DicList[index][1].Value,
                                        Phone: resultJson.Info.DicList[index][2].Value
                                    });
                                }

                                // 結果を WinJS の List 型に変換する
                                var datalist = new WinJS.Binding.List(DicArray);

                                // 結果を画面要素にバインドする
                                var listview = document.querySelector('#ListView1').winControl;
                                listview.itemDataSource = datalist.dataSource;
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button5').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'SelectAll_DSQL',
                        ActionType: actionType,
                        UserName: context,
                        Info: {
                            Dictionary: [
                                {
                                    Key: 'OrderColumn', 
                                    Value: $('#ddlOrderColumn').val()
                                }, 
                                {
                                    Key: 'OrderSequence', 
                                    Value: $('#ddlOrderSequence').val()
                                }
                            ]
                        }
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                // 結果を JSON 形式に変換する
                                var DicArray = [];
                                var index = 0;
                                for (index = 0; index < resultJson.Info.DicList.length; index++) {
                                    DicArray.push({
                                        ShipperId: resultJson.Info.DicList[index][0].Value,
                                        CompanyName: resultJson.Info.DicList[index][1].Value,
                                        Phone: resultJson.Info.DicList[index][2].Value
                                    });
                                }

                                // 結果を WinJS の List 型に変換する
                                var datalist = new WinJS.Binding.List(DicArray);

                                // 結果を画面要素にバインドする
                                var listview = document.querySelector('#ListView1').winControl;
                                listview.itemDataSource = datalist.dataSource;
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button6').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'Select',
                        ActionType: actionType,
                        UserName: context,
                        Info: {
                            Str: $('#textBox1').val()
                        }
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                $('#textBox2').val(resultJson.Info.Dictionary[0].Value);
                                $('#textBox3').val(resultJson.Info.Dictionary[1].Value);
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button7').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'Insert',
                        ActionType: actionType,
                        UserName: context,
                        Info: {
                            Dictionary: [
                                {
                                    Key: 'CompanyName',
                                    Value: $('#textBox2').val()
                                },
                                {
                                    Key: 'Phone',
                                    Value: $('#textBox3').val()
                                }
                            ]
                        }
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                $('#labelMessage').val(resultJson.Info.Str + '件追加');
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button8').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'Update',
                        ActionType: actionType,
                        UserName: context,
                        Info: {
                            Dictionary: [
                                {
                                    Key: 'ShipperID',
                                    Value: $('#textBox1').val()
                                },
                                {
                                    Key: 'CompanyName',
                                    Value: $('#textBox2').val()
                                },
                                {
                                    Key: 'Phone',
                                    Value: $('#textBox3').val()
                                }
                            ]
                        }
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                $('#labelMessage').val(resultJson.Info.Str + '件更新');
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button9').click(function () {
                    // コンテキスト
                    var context = 'User1';

                    // 共通部

                    // 共通部を生成
                    var actionType = $('#ddlDap').val() + '%' + $('#ddlMode1').val() + '%' + $('#ddlMode2').val() + '%' + $('#ddlExRollback').val();

                    // パラメタを JSON 形式で纏める
                    var param = {
                        ServiceName: 'rtWebService',
                        ScreenId: 'CRUDPage_jn',
                        ControlId: $(this)[0].id,
                        MethodName: 'Delete',
                        ActionType: actionType,
                        UserName: context,
                        Info: {
                            Str: $('#textBox1').val()
                        }
                    };

                    // 非同期呼出しを行う
                    WinJS.xhr({
                        type: 'POST',
                        url: 'http://localhost:9996/WSClientSL_sample/WebService/ServiceForRt.svc/JSON',
                        data: JSON.stringify(param),
                        responseType: 'json',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        }
                    }).then(
                        // 成功時
                        function (result) {
                            var resultJson = JSON.parse(result.responseText);
                            if (resultJson.Error == null) {
                                $('#labelMessage').val(resultJson.Info.Str + '件削除');
                            }
                            else {
                                showDialog(resultJson.Error.Message);
                            }
                        },
                        // エラー発生時
                        function (result) {
                            $('#labelMessage').val(result.responseText);
                        }
                    );
                });

                $('#button10').click(function () {
                    // 画面要素のバインドをはずす
                    var listview = document.querySelector('#ListView1').winControl;
                    listview.itemDataSource = null;
                });
            });
        </script>
    </head>
    <body>
        <table style="height: 100%; width: 100%">
            <thead style="visibility: hidden">
                <tr>
                    <th style="width: 20%"></th>
                    <th style="width: 20%"></th>
                    <th style="width: 20%"></th>
                    <th style="width: 20%"></th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5">JSON 汎用サービスインタフェースの CRUD サンプル</td>
                </tr>
                <tr>
                    <td colspan="2">データアクセス制御クラス（データプロバイダ）を選択</td>
                    <td colspan="3" rowspan="15">
                        <div id="ListView1Template" style="width: 100%" data-win-control="WinJS.Binding.Template">
                            <div style="width: 100%; white-space: nowrap">
                                ShipperId: <span data-win-bind="textContent: ShipperId"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                CompanyName: <span data-win-bind="textContent: CompanyName"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                Phone: <span data-win-bind="innerText: Phone"></span>
                            </div>
                        </div>
                        <div id="ListView1" data-win-control="WinJS.UI.ListView" data-win-options="{ itemTemplate: select('#ListView1Template') }" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="ddlDap" style="height: 100%; width: 100%">
                            <option value="SQL" selected="selected">SQL Server / SQL Client</option>
                            <option value="OLE">Multi-DB / OLEDB.NET</option>
                            <option value="ODB">Multi-DB / ODCB.NET</option>
                            <option value="ODP">Oracle / ODP.NET</option>
                            <option value="DB2">DB2 / DB2.NET</option>
                            <option value="HIR">HiRDB / HiRDB-DP</option>
                            <option value="MCN">MySQL Cnn/NET</option>
                            <option value="NPS">PostgreSQL / Npgsql</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">静的、動的のクエリ モードを選択（共通Dao選択時）</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="ddlMode1" style="height: 100%; width: 100%">
                            <option value="individual" selected="selected">個別Ｄａｏ</option>
                            <option value="common">共通Ｄａｏ</option>
                            <option value="generate">自動生成Ｄａｏ（更新のみ）</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">静的、動的のクエリ モードを選択</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="ddlMode2" style="height: 100%; width: 100%">
                            <option value="static" selected="selected">静的クエリ</option>
                            <option value="dynamic">動的クエリ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">分離レベルを選択</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="ddlIso" style="height: 100%; width: 100%" disabled="disabled">
                            <option value="NC">ノットコネクト</option>
                            <option value="NT" selected="selected">ノートランザクション</option>
                            <option value="RU">ダーティリード</option>
                            <option value="RC">リードコミット</option>
                            <option value="RR">リピータブルリード</option>
                            <option value="SZ">シリアライザブル</option>
                            <option value="SS">スナップショット</option>
                            <option value="DF">デフォルト</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">コミット、ロールバックを設定（例外発生時、ロールバック）</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="ddlExRollback" style="height: 100%; width: 100%">
                            <option value="-" selected="selected">正常時</option>
                            <option value="Business">業務例外</option>
                            <option value="System">システム例外</option>
                            <option value="Other">その他、一般的な例外</option>
                            <option value="Other-Business">業務例外への振替</option>
                            <option value="Other-System">システム例外への振替</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">通信制御</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="ddlTransmission" style="height: 100%; width: 100%" disabled="disabled">
                            <option value="testWebService" selected="selected">Webサービス呼出</option>
                            <option value="testInProcess">インプロセス呼出</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>ShipperId：</td>
                    <td><input type="text" id="textBox1" style="width: 100%; height: 100%" /></td>
                </tr>
                <tr>
                    <td>CompanyName：</td>
                    <td><input type="text" id="textBox2" style="width: 100%; height: 100%" /></td>
                </tr>
                <tr>
                    <td>Phone：</td>
                    <td><input type="text" id="textBox3" style="width: 100%; height: 100%" /></td>
                </tr>
                <tr>
                    <td>並び替え対象列</td>
                    <td>
                        <select id="ddlOrderColumn" style="height: 100%; width: 100%">
                            <option value="c1" selected="selected">c1</option>
                            <option value="c2">c2</option>
                            <option value="c3">c3</option>
                        </select>
                    </td>
                    <td colspan="3"><input type="button" id="button10" value="クリア" style="width: 100%" /></td>
                </tr>
                <tr>
                    <td>昇順・降順</td>
                    <td>
                        <select id="ddlOrderSequence" style="height: 100%; width: 100%">
                            <option value="A" selected="selected">ASC</option>
                            <option value="D">DESC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>処理結果：</td>
                    <td><input type="text" id="labelMessage" style="width: 100%; height: 100%" /></td>
                </tr>
                <tr>
                    <td><input type="button" id="button1" value="件数取得" /></td>
                    <td><input type="button" id="button2" value="一覧取得（dt）" /></td>
                    <td><input type="button" id="button3" value="一覧取得（ds）" /></td>
                    <td><input type="button" id="button4" value="一覧取得（dr）" /></td>
                    <td><input type="button" id="button5" value="一覧取得（動的SQL）" /></td>
                </tr>
                <tr>
                    <td><input type="button" id="button6" value="一件参照" /></td>
                    <td><input type="button" id="button7" value="追加" /></td>
                    <td><input type="button" id="button8" value="更新" /></td>
                    <td><input type="button" id="button9" value="削除" /></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>