<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>

    <add key="FxMaxThreadCount" value="10"/>

    <!-- Webサービスの名前解決定義へのパス -->

    <!--リソース ファイルの場合-->
    <add key="FxXMLTMProtocolDefinition" value="config\TMProtocolDefinition.xml"/>
    <add key="FxXMLTMInProcessDefinition" value="config\TMInProcessDefinition.xml"/>
    <!-- インプロセス呼出用 -->
    <add key="FxXMLMSGDefinition" value="config\MSGDefinition.xml"/>

    <!--埋め込まれたリソースの場合-->
    <!--add key="FxXMLTMProtocolDefinition" value="WSClientWin2_sample.TMProtocolDefinition.xml"/-->
    <!--add key="FxXMLTMInProcessDefinition" value="WSClientWin2_sample.TMInProcessDefinition.xml"/-->
    <!-- インプロセス呼出用 -->
    <!--add key="FxXMLMSGDefinition" value="WSClientWin2_sample.MSGDefinition.xml"/-->

    <!-- フレームワークの使用するパラメータ - end -->

    <!-- 共通部品の使用するパラメータ - start -->

    <!-- Log4Netのコンフィグファイルへのパス -->
    <!-- リソース ファイルの場合 -->
    <add key="FxLog4NetConfFile" value="C:\root\files\resource\Log\SampleLogConf.xml" />
    <!-- 埋め込まれたリソースの場合 -->
    <!--<add key="FxLog4NetConfFile" value="_2CSClientWin_sample.SampleLogConf2CS.xml"/>-->
    <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
    <add key="FxSqlTraceLog" value="on" />
    <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
    <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
    <add key="FxSqlCacheSwitch" value="off" />
    <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
    <add key="FxSqlEncoding" value="shift_jis" />
    <!-- Ｄ層のコマンド タイムアウト値を指定（秒） -->
    <add key="FxSqlCommandTimeout" value="30"/>

    <!-- 共通部品の使用するパラメータ - end -->

    <!-- アプリケーションの使用するパラメータ - start -->

    <!-- SQLファイルファイル（フォルダ）へのパス -->
    <add key="SqlTextFilePath" value="C:\root\files\resource\Sql"/>
    <!--コントロールのプレフィックス（追加分） -->
    <add key="FxPrefixOfCheckBox" value="cbx"/>

    <!-- アプリケーションの使用するパラメータ - end -->

  </appSettings>
  <connectionStrings>
    <!-- SQL Server / SQL Client用 -->
    <add name="ConnectionString_SQL" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=AsyncProcessingServiceDB;Integrated Security=True"/>

  </connectionStrings>
</configuration>
