@*
    //**********************************************************************************
    //* サンプル アプリ・モデル
    //**********************************************************************************

    // テスト用クラスなので、必要に応じて流用 or 削除して下さい。

    //**********************************************************************************
    //* クラス名        ：_ChartView
    //* クラス日本語名  ：Chart部分View
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  20xx/xx/xx  ＸＸ ＸＸ         ＸＸＸＸ
    //**********************************************************************************
*@

@using MVC_Sample.Models.ViewModels
@model CrudViweModel

@if (Model != null && Model.Shippers != null)
{
                <table class="table">
                    <thead>
                        <tr>
                            <th>ShipperId</th>
                            <th>CompanyName</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (ShipperViweModel svm in Model.Shippers)
                    {
                        <tr>
                            <td>@svm.ShipperID</td>
                            <td>@svm.CompanyName</td>
                            <td>@svm.Phone</td>
                        </tr>
                    }
                    </tbody>
                </table>
}
