/* common.jsで使用している。 */
.dialog-mask
{
    position         : absolute;
    top              : 0;
    left             : 0;
    opacity          : 0.5;
    -ms-filter       : "alpha(opacity=50)";    /* IE対応 */
    background-color : gray;
    z-index          : 1000;                   /* 1000なら最前面だろう ( ToMost相当が無い */
}

.progress-dialog
{
    position         : fixed;
    top              : 0;
    left             : 0;
    padding          : 10px 10px 0 10px;
    text-align       : center;
    overflow         : hidden;                 /* hiddenに変更*/
    /*width            : 300px;*/              /* 位置計算はJSで行うため */
    /*height           : 200px;*/              /* 位置計算はJSで行うため */
    background-color : lightcyan;
    z-index          : 1001;                   /* dialog-maskより前面に出す。*/
}

/* *.master の 分割で使用している。 */

/* ヘッダー固定 */
.page-header
{
    position         : fixed;                  /* ヘッダーの固定 */
    top              : 0;                      /* 位置 (上0px) */
    left             : 0;                      /* 位置 (右0px) */
    margin           : 0;
    padding          : 0;
    width            : 100%;                   /* 横幅 100%　*/
    height           : 100px;                  /* 縦幅 100px */
	background-color : #D6DBE9;                /* 背景色 */
    z-index          : 100;
}

#header-bk { 
	background-color : #D6DBE9;                /* 背景色 */
    margin           : 0;
    padding          : 0;
	width            : 100%;                   /* 横幅 100% */
	height           : 100%;                   /* 縦高 header-fixedと同じ */
}
#header { 
    margin           : 0;
    padding          : 5px 0 0 5px;
	width            : 100%;                   /* 横幅 100% */
    height           : 100%;                   /* 縦高 header-fixedと同じ */
}

#header-logo {
   float             : left;
   text-align        : left;
   margin            : 10px;
   padding           : 0px;
}
#header-logo img {
   width             : 80px; 
   height            : 80px;
}
#header-title{
   padding           : 20px 0 0 0;
}
#header-button {
    padding-top      : 20px;
}

/* フッターの固定 */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #283955;
}
.footer .container {
  width: auto;
  padding: 0 15px;
}
.footer .container .text-muted {
  color: white;
  margin: 15px 0;
}

/* ボディの定義 */
#body-bk{
    margin           : 0;
    padding-top      : 100px;                  /* 上にヘッダー分の余白を取る */
    width            : 100%;                   /* 横幅 100% */
    height           : 100%;                   /* 縦幅 100px */
}
#body{
    margin           : 0;
    padding          : 0;
	width            : 100%;                   /* 横幅 100% */
    height           : 100%;                   /* 縦高 body-fixedと同じ */
}

/* 左メニューの定義 */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;

  text-decoration: none;
  color: #e1ffff;
}
/*.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}*/
.nav-side-menu li i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/*body {
  margin: 0px;
  padding: 0px;
}*/

/* コンテンツの定義 */
#contents{
    background-color : #FFFFFF;                /* 背景色 */
    float            : left;
    margin           : 0;
    padding          : 5px 0 50px 5px;
}

/* メディアクエリ */
@media (max-width: 767px) {
  .page-header{
      height: 60px;
  }
  #header-logo img {
      width: 40px;
      height: 40px;
  }
  #header-title{
     padding: 10px;
  }
  #header-button{
    padding-top: 10px;
  }
  #header-button button{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .nav-side-menu {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    margin-bottom: 10px;
  }
  #body-bk {
      padding-top: 110px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
