<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 共通部品の使用するパラメータ - start -->
    <add key="FxMaxThreadCount" value="10"/>
    <add key="FxNumberOfSeconds" value="1"/>
    <add key="FxMaxNumberOfRetries" value="10"/>
    <add key="FxMaxNumberOfHours" value="24"/>
    <add key="FxSleepUserProcess" value="5"/>
    <add key="FxAbortPercentage" value="3"/>
    <add key="FxStopPercentage" value="10"/>

    <!-- インプロセス呼出用 -->
    <add key="FxXMLTMProtocolDefinition" value="AsyncProcessingService.TMProtocolDefinition.xml"/>
    <add key="FxXMLTMInProcessDefinition" value="AsyncProcessingService.TMInProcessDefinition.xml"/>
    <add key="FxXMLMSGDefinition" value="AsyncProcessingService.MSGDefinition.xml"/>

    <!-- フレームワークの使用するパラメータ - end -->

    <!-- 共通部品の使用するパラメータ - start -->

    <!-- Log4Netのコンフィグファイルへのパス -->
    <!-- リソース ファイルの場合 -->
    <add key="FxLog4NetConfFile" value="AsyncProcessingService.SampleLogConfAsyncProcessingService.xml"/>
    <!-- 埋め込まれたリソースの場合 -->
    <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
    <add key="FxSqlTraceLog" value="on"/>
    <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
    <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
    <add key="FxSqlCacheSwitch" value="off"/>
    <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
    <add key="FxSqlEncoding" value="shift_jis"/>
    <!-- Ｄ層のコマンド タイムアウト値を指定（秒） -->
    <add key="FxSqlCommandTimeout" value="30"/>

    <!-- 共通部品の使用するパラメータ - end -->

  </appSettings>
  <connectionStrings>
    <!-- SQL Server / SQL Client用 -->
    <add name="ConnectionString_SQL" connectionString="Data Source=localhost\sqlexpress;Integrated Security=SSPI;Initial Catalog=AsyncProcessingServiceDB;"/>

  </connectionStrings>
</configuration>
