<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>エラー</title>
</head>
<body>
    <hgroup>
        <h1>エラー。</h1>
        <h2>要求の処理中にエラーが発生しました。</h2>
    </hgroup>
</body>
</html>
