<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FxUICulture" value="8" />
    <add key="MyCulture" value="touryo" />
    <add key="FxBusinessMessageCulture" value="zh" />
    <add key="FxXMLMSGDefinition" value="MSGDefinition.xml" />
    <add key="FxXMLSPDefinition" value="SPDefinition.xml" />
    <add key="SqlTextFilePath" value=".\Sql"/>
    <add key="FxSqlCommandTimeout" value="30"/>
    <add key="FxSqlCacheSwitch" value="ON"/>
    <add key="FxSqlTraceLog" value="ON"/>
    <add key="FxLog4NetConfFile" value="TestLogConf.xml"/>
  </appSettings>
  <connectionStrings>
    <!-- SQL Server / SQL Client用 -->
    <add name="ConnectionString_SQL" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=True;"/>
    <!-- Multi-DB / OLEDB.NET用 -->
    <add name="ConnectionString_OLE" connectionString="Provider=SQLNCLI10.1;Data Source=localhost\sqlexpress;Integrated Security=SSPI;Initial Catalog=Northwind;"/>
    <!-- Multi-DB / ODCB.NET用 -->
    <add name="ConnectionString_ODBC" connectionString="Dsn=odbc_test1"/>
    <!-- Oracle / ODP.NET用 -->
    <add name="ConnectionString_ODP1" connectionString="User Id=SCOTT;Password=TIGER;Data Source=orcl;"/>
    <!-- Oracle / ODP.NET(Instant Client)用 -->
    <add name="ConnectionString_ODP2" connectionString="User Id=SCOTT;Password=TIGER;Data Source=localhost/XE;"/>
    <!-- DB2 / DB2.NET用 -->
    <add name="ConnectionString_DB2" connectionString="Server=133.108.193.154:50000;Database=SAMPLE;User ID=db2admin;Password=seigi@123"/>
    <!-- HiRDB / HiRDBデータプロバイダ用 -->
    <add name="ConnectionString_HIR" connectionString="DataSource=C:\\Windows\\HiRDB.ini;UID=APPUSER;PWD=STDDB;"/>
    <!-- MySQL / MySQL Connector/NET用 -->
    <add name="ConnectionString_MCN" connectionString="Server=133.108.193.152;Database=test;User Id=root;Password=seigi@123"/>
    <!-- PostgreSQL / Npgsql用 -->
    <add name="ConnectionString_NPS" connectionString="HOST=133.108.193.153;DATABASE=postgres;USER ID=postgres;PASSWORD=seigi@123;"/>
  </connectionStrings>
</configuration>
