<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- リソース ファイルの場合 -->
    <add key="FxXMLMSGDefinition" value="MSGDefinition.xml"/>
    <add key="FxLog4NetConfFile" value="Log4DeployZipPackWithHTTP.xml"/>
    <!-- 埋め込まれたリソースの場合 -->
    <!--add key="FxXMLMSGDefinition" value="DeployZipPackWithHTTP.MSGDefinition.xml"/-->
    <!--add key="FxLog4NetConfFile" value="DeployZipPackWithHTTP.Log4DeployZipPackWithHTTP.xml" /-->
    <!--非同期呼び出し処理の多重度（2以上の設定が必須）-->
    <add key="FxMaxThreadCount" value="3"/>
    <!--プログレスダイアログが閉じるまでの待機設定（秒）-->
    <add key="PDWSleepSec" value="1"/>
  </appSettings>
</configuration>
