<?xml version="1.0"?>
<configuration>
  <!-- 2層C/S用（WPF） -->
  
  <!-- connectionStringsの設定 -->
  <connectionStrings>
    <!-- SQL Server / SQL Client用 -->
    <add name="ConnectionString_SQL" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Northwind;Integrated Security=True;"/>
    <!-- Multi-DB / OLEDB.NET用 -->
    <add name="ConnectionString_OLE" connectionString="Provider=SQLNCLI10.1;Data Source=localhost\sqlexpress;Integrated Security=SSPI;Initial Catalog=Northwind;"/>
    <!-- Multi-DB / ODCB.NET用 -->
    <add name="ConnectionString_ODBC" connectionString="Dsn=odbc_test1"/>
    <!-- Oracle / ODP.NET用 -->
    <add name="ConnectionString_ODP" connectionString="User Id=SCOTT;Password=tiger;Data Source=localhost/XE;"/>
    <!-- DB2 / DB2.NET用 -->
    <add name="ConnectionString_DB2" connectionString="Server=localhost:50000;Database=SAMPLE;User ID=db2admin;Password=seigi@123"/>
    <!-- HiRDB / HiRDBデータプロバイダ用 -->
    <add name="ConnectionString_HIR" connectionString="DataSource=C:\\Windows\\HiRDB.ini;UID=APPUSER;PWD=STDDB;"/>
    <!-- MySQL / MySQL Connector/NET用 -->
    <add name="ConnectionString_MCN" connectionString="Server=localhost;Database=test;User Id=root;Password=seigi@123"/>
    <!-- PostgreSQL / Npgsql用 -->
    <add name="ConnectionString_NPS" connectionString="HOST=localhost;DATABASE=postgres;USER ID=postgres;PASSWORD=seigi@123;"/>
  </connectionStrings>
  
  <appSettings>
    <!-- フレームワークの使用するパラメータ - start -->
      <!--リソース ファイルの場合-->
      <add key="FxXMLMSGDefinition" value="MSGDefinition.xml"/>
    <add key="FxXMLSPDefinition" value="SPDefinition.xml"/>
      <!--埋め込まれたリソースの場合-->
      <!--add key="FxXMLMSGDefinition" value="_2CSClientWPF_sample.MSGDefinition.xml"/-->
    <!--add key="FxXMLSPDefinition" value="_2CSClientWPF_sample.SPDefinition.xml"/-->
    <!-- フレームワークの使用するパラメータ - end -->
    
    <!-- 共通部品の使用するパラメータ - start -->
    <!-- Log4Netのコンフィグファイルへのパス -->
    <!-- リソース ファイルの場合 -->
    <!--add key="FxLog4NetConfFile" value="SampleLogConf2CS.xml" /-->
    <!-- 埋め込まれたリソースの場合 -->
    <add key="FxLog4NetConfFile" value="_2CSClientWPF_sample.SampleLogConf2CS.xml"/>
      <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
      <add key="FxSqlTraceLog" value="on"/>
      <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
      <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
      <add key="FxSqlCacheSwitch" value="off"/>
      <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
      <add key="FxSqlEncoding" value="utf-8"/>
      <!-- Ｄ層のコマンド タイムアウト値を指定（秒） -->
      <add key="FxSqlCommandTimeout" value="30"/>
    <!-- 共通部品の使用するパラメータ - end -->

    <!-- アプリケーションの使用するパラメータ - start -->
    <!-- SQLファイルファイル（フォルダ）へのパス -->
    <add key="SqlTextFilePath" value="C:\root\files\resource\Sql"/>
    <!-- アプリケーションの使用するパラメータ - end -->
    
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
