<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FxUICulture" value="8"/>
    <add key="MyCulture" value="touryo"/>
    <add key="FxBusinessMessageCulture" value="zh"/>
    <add key="FxXMLMSGDefinition" value="MSGDefinition.xml"/>
    <add key="FxXMLSPDefinition" value="SPDefinition.xml"/>
    <!--<add key="SqlTextFilePath" value=".\Sql"/>-->
    <add key="FxSqlCommandTimeout" value="30"/>
    <add key="FxSqlCacheSwitch" value="off"/>
    <add key="FxSqlTraceLog" value="Off"/>
    <add key="FxLog4NetConfFile" value="Workflow.Test.TestLogConf.xml"/>
    <!-- SQLファイルファイル（フォルダ）へのパス -->
    <add key="SqlTextFilePath" value="Workflow.Test.Sql"/>
    <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
    <add key="FxSqlEncoding" value="utf-8"/>

    <add key="SubSystemId" value="TEST"/>
    <add key="WorkflowName" value="Branch2"/>
    <!--<add key="DefaultCulture" value="ja-JP"/>-->
  </appSettings>
  <connectionStrings>
    <!-- SQL Server / SQL Client用 -->
    <add name="ConnectionString_SQL" connectionString="Data Source=localhost;Initial Catalog=Workflow;Integrated Security=True;"/>
    <!-- Multi-DB / OLEDB.NET用 -->
    <add name="ConnectionString_OLE" connectionString="Provider=SQLNCLI10.1;Data Source=localhost\sqlexpress;Integrated Security=SSPI;Initial Catalog=Northwind;"/>
    <!-- Multi-DB / ODCB.NET用 -->
    <add name="ConnectionString_ODBC" connectionString="Dsn=odbc_test1"/>
    <!-- Oracle / ODP.NET用 -->
    <add name="ConnectionString_ODP1" connectionString="User Id=SCOTT;Password=TIGER;Data Source=orcl;"/>
    <!-- Oracle / ODP.NET(Instant Client)用 -->
    <add name="ConnectionString_ODP2" connectionString="User Id=SCOTT;Password=TIGER;Data Source=localhost/XE;"/>
    <!-- DB2 / DB2.NET用 -->
    <add name="ConnectionString_DB2" connectionString="Server=133.108.193.154:50000;Database=SAMPLE;User ID=db2admin;Password=seigi@123"/>
    <!-- HiRDB / HiRDBデータプロバイダ用 -->
    <add name="ConnectionString_HIR" connectionString="DataSource=C:\\Windows\\HiRDB.ini;UID=APPUSER;PWD=STDDB;"/>
    <!-- MySQL / MySQL Connector/NET用 -->
    <add name="ConnectionString_MCN" connectionString="Server=133.108.193.152;Database=test;User Id=root;Password=seigi@123"/>
    <!-- PostgreSQL / Npgsql用 -->
    <add name="ConnectionString_NPS" connectionString="HOST=133.108.193.153;DATABASE=postgres;USER ID=postgres;PASSWORD=seigi@123;"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
