<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 共通部品の使用するパラメータ - start -->
    <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
    <add key="FxSqlTraceLog" value="on"/>
    <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
    <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
    <add key="FxSqlCacheSwitch" value="off"/>
    <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
    <add key="FxSqlEncoding" value="utf-8"/>
    <!-- Ｄ層のSQLのCommandTimeout値を指定 -->
    <add key="FxSqlCommandTimeout" value="30"/>
    <!-- 共通部品の使用するパラメータ - end -->

    <!-- フォルダ -->
    <add key="InputFilesRoot" value="C:\"/>
    <add key="OutputFilesRoot" value="C:\"/>

    <!-- 利用者名 -->
    <add key="FamilyName" value="日立"/>
    <add key="PersonalName" value="太郎"/>

    <!-- ★入力項目（テンプレート） -->
    <!-- Daoクラス テンプレート ファイル（拡張子を除く） -->
    <add key="DaoTemplateFileName" value="DaoTemplate"/>

    <!-- Entityクラス テンプレート ファイル（拡張子を除く） -->
    <add key="EntityTemplateFileName" value="EntityTemplate"/>
    <!-- DataSetクラス テンプレート ファイル -->
    <add key="DataSetTemplateFileName" value="DataSetTemplate.xsd"/>

    <!-- メンテナンス画面 テンプレート ファイル -->
    <add key="TableAdapterTemplateFileName" value="TableAdapter"/>
    <add key="JoinConditionalSearchTemplateFileName" value="_Screen_ConditionalSearch.aspx"/>
    <add key="JoinSearchAndUpdateTemplateFileName" value="_Screen_SearchAndUpdate.aspx"/>
    <add key="JoinDetailTemplateFileName" value="_Screen_Detail.aspx"/>

    <!-- SQL テンプレート ファイル -->
    <!-- 静的 -->
    <add key="InsertTemplateFileName" value="s1_InsertTemplate.sql"/>
    <add key="SelectTemplateFileName" value="s2_SelectTemplate.xml"/>
    <add key="UpdateTemplateFileName" value="s3_UpdateTemplate.xml"/>
    <add key="DeleteTemplateFileName" value="s4_DeleteTemplate.xml"/>

    <!-- 動的 -->
    <add key="DynInsTemplateFileName" value="d1_DynInsTemplate.xml"/>
    <add key="DynSelTemplateFileName" value="d2_DynSelTemplate.xml"/>
    <add key="DynUpdTemplateFileName" value="d3_DynUpdTemplate.xml"/>
    <add key="DynDelTemplateFileName" value="d4_DynDelTemplate.xml"/>

    <!--拡張メソッド用-->
    <add key="DynSelCntTemplateFileName" value="d5_DynSelCntTemplate.xml"/>

    <!-- ★出力項目 -->
    <!-- Daoクラス ファイルのヘッダ・フッタ -->
    <!-- Daoクラス名のヘッダ・フッタ -->
    <add key="DaoClassNameHeader" value="Dao"/>
    <add key="DaoClassNameFooter" value=""/>

    <!-- Entityクラス ファイルのヘッダ・フッタ -->
    <!-- Entityクラス名のヘッダ・フッタ -->
    <add key="EntityClassNameHeader" value=""/>
    <add key="EntityClassNameFooter" value="Entity"/>

    <!-- DataSetクラス ファイルのヘッダ・フッタ -->
    <!-- DataSetクラス名のヘッダ・フッタ -->
    <add key="DataSetClassNameHeader" value=""/>
    <add key="DataSetClassNameFooter" value="DataSet"/>

    <!-- DataTableクラスのヘッダ・フッタ -->
    <!-- DataTableクラス名のヘッダ・フッタ -->
    <add key="DataTableClassNameHeader" value=""/>
    <add key="DataTableClassNameFooter" value=""/>

    <!-- メソッド名のCRUD名 -->
    <add key="MethodLabel_Ins" value="1_Insert"/>
    <add key="MethodLabel_Sel" value="2_Select"/>
    <add key="MethodLabel_Upd" value="3_Update"/>
    <add key="MethodLabel_Del" value="4_Delete"/>
    <add key="MethodLabel_SelCnt" value="5_SelCnt"/>

    <!-- メソッド名のヘッダ・フッタ（静的） -->
    <add key="MethodNameHeaderS" value="S"/>
    <add key="MethodNameFooterS" value=""/>

    <!-- メソッド名のヘッダ・フッタ（動的） -->
    <add key="MethodNameHeaderD" value="D"/>
    <add key="MethodNameFooterD" value=""/>

    <!-- Updateのパラメタ名のヘッダ・フッタ -->
    <add key="UpdateParamHeader" value="Set_"/>
    <add key="UpdateParamFooter" value="_forUPD"/>

    <!-- Likeのパラメタ名のヘッダ・フッタ -->
    <add key="LikeParamHeader" value=""/>
    <add key="LikeParamFooter" value="_Like"/>

    <!-- SQLファイルのヘッダ・フッタ -->
    <!-- ※　SQLファイル名は、Daoクラス名＋メソッド名とする。 -->

    <!-- 内部データ項目 -->
    <!-- テンプレート上の置換文字列 -->
    <!-- 共通 -->
    <add key="RpFileName" value="_FileName_"/>
    <add key="RpTimeStamp" value="_TimeStamp_"/>
    <add key="RpUserName" value="_UserName_"/>

    <add key="RpTableName" value="_TableName_"/>
    <add key="RpColumnName" value="_ColumnName_"/>

    <add key="RpJoinTableName" value="_JoinTableName_"/>
    <add key="RpJoinColumnName" value="_JoinColumnName_"/>
    <add key="RpJoinTextboxColumnName" value="_JoinTextboxColumnName_"/>

    <add key="RpAllColumnList" value="_AllColumnList_"/>
    <add key="RpPKColumnList" value="_PKColumnList_"/>

    <add key="CcLoopStart_PKColumn" value="ControlComment:LoopStart-PKColumn"/>
    <add key="CcLoopEnd_PKColumn" value="ControlComment:LoopEnd-PKColumn"/>

    <add key="CcLoopStart_JoinTables" value="ControlComment:LoopStart-JoinTables"/>
    <add key="CcLoopEnd_JoinTables" value="ControlComment:LoopEnd-JoinTables"/>

    <add key="CcLoopStart_ElseColumn" value="ControlComment:LoopStart-ElseColumn"/>
    <add key="CcLoopEnd_ElseColumn" value="ControlComment:LoopEnd-ElseColumn"/>

    <!-- SQL -->
    <add key="RpXMLEncoding" value="_XMLEncoding_"/>

    <add key="RpAllColumnListSQL" value="_AllColumnListSQL_"/>
    <add key="RpPKColumnListSQL" value="_PKColumnListSQL_"/>

    <add key="RpAllColumnListTableAdapterSQL" value="_AllColumnListTableAdapterSQL_"/>
    <add key="RpTimeStampColName" value="_TimeStampColName_"/>

    <add key="RpColumnsCondition" value="_ColumnsCondition_"/>
    <add key="RpDynColsCondition" value="_DynColsCondition_"/>
    <add key="RpDynColsCondition_Like" value="_DynColsConditionLike_"/>

    <!-- <add key="RpInsertColumns" value="_InsertColumns_" /> -->
    <add key="RpDynInsColumns" value="_DynInsColumns_"/>

    <add key="RpInsertParameters" value="_InsertParameters_"/>
    <add key="RpDynInsParameters" value="_DynInsParameters_"/>

    <!-- <add key="RpUpdateParameters" value="_UpdateParameters_" /> -->
    <add key="RpDynUpdParameters" value="_DynUpdParameters_"/>

    <!-- Dao（ファイル）名 -->
    <add key="RpDaoClassName" value="_DaoClassName_"/>

    <!-- プロパティ プロシージャ生成 -->
    <add key="CcLoopStart_PPUpdSet" value="ControlComment:LoopStart-PPUpdSet"/>
    <add key="CcLoopEnd_PPUpdSet" value="ControlComment:LoopEnd-PPUpdSet"/>

    <add key="CcLoopStart_PPLike" value="ControlComment:LoopStart-PPLike"/>
    <add key="CcLoopEnd_PPLike" value="ControlComment:LoopEnd-PPLike"/>

    <!-- メソッド名 -->
    <add key="RpInsertMethodName" value="_InsertMethodName_"/>
    <add key="RpDynInsMethodName" value="_DynInsMethodName_"/>

    <add key="RpSelectMethodName" value="_SelectMethodName_"/>
    <add key="RpDynSelMethodName" value="_DynSelMethodName_"/>

    <add key="RpUpdateMethodName" value="_UpdateMethodName_"/>
    <add key="RpDynUpdMethodName" value="_DynUpdMethodName_"/>

    <add key="RpDeleteMethodName" value="_DeleteMethodName_"/>
    <add key="RpDynDelMethodName" value="_DynDelMethodName_"/>

    <!--拡張メソッド名-->
    <add key="RpDynSelCntMethodName" value="_DynSelCntMethodName_"/>

    <!--Entityクラス（ファイル）名-->
    <add key="RpEntityClassName" value="_EntityClassName_"/>
    <add key="RpEntityTypeInfo" value="_EntityTypeInfo_"/>

    <!-- DataSetクラス（ファイル）名-->
    <add key="RpDataSetClassName" value="_DataSetClassName_"/>
    <add key="RpDataTableClassName" value="_DataTableClassName_"/>
    <add key="RpXSDTypeInfo" value="_XSDTypeInfo_"/>

    <!-- SQLファイル名 -->
    <add key="RpInsertFileName" value="_InsertFileName_"/>
    <add key="RpDynInsFileName" value="_DynInsFileName_"/>

    <add key="RpSelectFileName" value="_SelectFileName_"/>
    <add key="RpDynSelFileName" value="_DynSelFileName_"/>

    <add key="RpUpdateFileName" value="_UpdateFileName_"/>
    <add key="RpDynUpdFileName" value="_DynUpdFileName_"/>

    <add key="RpDeleteFileName" value="_DeleteFileName_"/>
    <add key="RpDynDelFileName" value="_DynDelFileName_"/>

    <!--拡張メソッド用ファイル名-->
    <add key="RpDynSelCntFileName" value="_DynSelCntFileName_"/>

    <!-- ASPX -->
    <add key="RpCodebehindLanguage" value="_CodebehindLanguage_"/>
    <add key="RpClassTemplateFileExtension" value="_ClassTemplateFileExtension_"/>

    <!-- CODE -->
    <add key="RpCommentOut" value="_CommentOut_"/>
    <add key="RpPKFirstColumn" value="_PKFirstColumn_"/>
    <!--GridView Header Column Number-->
    <add key="RpColumnNmbr" value="_ColumnNmbr_"/>
    <!-- For Internationalization Test -->
    <add key="DefaultCulture" value="ja-JP"/>

    <!--Add Data Providers from tool-->
    <add key="RpDBMS" value="_DBMS_"/>
    <add key="RpDAP" value="_DAP_"/>
    
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
