<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!-- Webサービス用 -->
    
    <!-- パラメータ変更後は、iisresetコマンドを実行してください。 -->

    <!-- フレームワークの使用するパラメータ - start -->
    <!-- メッセージ定義へのパス -->
    <add key="FxXMLMSGDefinition" value="C:\root\files\resource\XML\MSGDefinition.xml"/>
    <!-- トランザクション制御定義へのパス -->
    <add key="FxXMLTCDefinition" value="C:\root\files\resource\XML\TCDefinition.xml"/>
    <!-- 名前解決定義へのパス -->
    <add key="FxXMLTMInProcessDefinition" value="C:\root\files\resource\XML\TMInProcessDefinition.xml"/>
    <!-- フレームワークの使用するパラメータ - end -->

    <!-- 共通部品の使用するパラメータ - start -->
    <!-- Log4Netのコンフィグファイルへのパス -->
    <add key="FxLog4NetConfFile" value="C:\root\files\resource\Log\SampleLogConfWebService.xml"/>
    <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
    <add key="FxSqlTraceLog" value="on"/>
    <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
    <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
    <add key="FxSqlCacheSwitch" value="off"/>
    <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
    <add key="FxSqlEncoding" value="utf-8"/>
    <!-- Ｄ層のコマンド タイムアウト値を指定（秒） -->
    <add key="FxSqlCommandTimeout" value="30"/>
    <!-- 共通部品の使用するパラメータ - end -->

    <!-- アプリケーションの使用するパラメータ - start -->
    <!-- OAuth2, OIDC認証 -->
    <add key="OAuth2AndOidcIsser" value="http://jwtssoauth.opentouryo.com"/>
    <add key="OAuth2AndOidcClientIDs" value='[
         "f53469c17c5a432f86ce563b7805ab89",
         "b6b393fe861b430eb4ee061006826b03",
         "f374a155909d486a9234693c34e94479"
         ]'/>
    <add key="OAuth2AndOidcRS256Cer" value="C:\root\files\resource\X509\SHA256RSA_Server.cer"/>
    <add key="JwkSetUri" value="https://localhost:44300/MultiPurposeAuthSite/jwkcerts/"/>

    <!-- SQLファイルファイル（フォルダ）へのパス -->
    <add key="SqlTextFilePath" value="C:\root\files\resource\Sql"/>
    <!-- アプリケーションの使用するパラメータ - end -->
</appSettings>
