<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--add key="FxLog4NetConfFile" value="SampleLogConf.xml"/-->
    <!--add key="FxLog4NetConfFile" value="TestLog.SampleLogConf.xml" /-->
    <!--add key="logLib" value="nlog" /-->
    <!--add key="FxLog4NetConfFile" value="SampleLogConf_N.xml" /-->
	<!--add key="FxLog4NetConfFile" value="TestLog.SampleLogConf_N.xml" /-->
  </appSettings>
</configuration>