@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // テスト用クラスなので、必要に応じて流用 or 削除して下さい。

    //**********************************************************************************
    //* クラス名        ：Error
    //* クラス日本語名  ：Error
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  20xx/xx/xx  ＸＸ ＸＸ         ＸＸＸＸ
    //**********************************************************************************
*@

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "エラー";
}

<hgroup class="title">
    <h1 class="error">エラー。</h1>
    <h2 class="error">要求の処理中にエラーが発生しました。</h2>
</hgroup>
